/*
 * Globals
 */
*{
    box-sizing: border-box;
}

.navbar {
    width:100%;
    position:fixed;
    z-index: 98;
    top:0;
    background: #372d3b;
    left:0;
    font-family: meslo lg s;
    transition: height .5s, background .5s;
}
.navbar-header {
  height: 80px;
}
.navbar-header a {
  transition: font-size .3s;
  font-size: 16px;
}
.navbar-header.tiny {
    height:40px;
    content: "";
}
.navbar-header.tiny a{
    font-size: 16px;
}
.navbar-header.tiny span{
    font-size: 22px;
}
@media screen and (min-width: 1280px) {
    .navbar-header a{
      font-size: 34px;
    }
}
.navbar-inverse .navbar-brand, .navbar-inverse span {
  color: #ffffde;
}
#menu {
  color: #222;
  float: left;
  left: 10px;
  z-index: 99;
  position: relative;
  top: 60px;
  border-radius: 4px;
  border: 1px solid #bbb;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 2px 6px;
  background: #fff;
  font-size: 24px;
  position: fixed;
  cursor: pointer;
  transition: .2s;
}
#menu:hover {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}
.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    float:right;
    color: #fff;
    font-size: 36px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {
  font-family: "roboto light";
  color: #000;
  position: relative;
  background: #e3dbce;
  /*background: #ffffde url('images/bg b.jpg');*/
  background-size: cover;
  transition: .3s;
}
h3 {
  font-size: 28px;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "ostrich sans heavy", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #000;
}

nav .glyphicon{
  color: #fc3;
}

.login-btn:hover {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}

.parallax-window {
    height: 300px;
    background: transparent;
    transform: skewY(-3deg) translateZ(0);
}
.svg-wrapper {
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #d94362;
}

.text {
  color: #fff;
  font-family: 'Roboto Condensed';
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
  left: 110px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 9px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

#text1 {
  color: #fff;
  text-shadow: 20px 50px 100px #222;
}
#text2 {
  color: #222;
  text-shadow: 20px 50px 100px #000;
}
.container {
  padding:60px 30px;
  margin-top: 50px;
  transition: .5s;
}
.container>p.lead {
  letter-spacing: 2px;
  font-family:landliebe;
  font-size:32px;
}
.home-illu{
  opacity: .8;
  z-index: 1;
  position: relative;
  overflow: hidden;
  padding: 5px;
}
.home-illu p {
  padding: 10px 20px;
}
.home-illu img {
padding: 10px 7px;
  max-width: 100%;
  transition: all 0.3s;
  position: relative;
  z-index: -1;
  cursor: pointer;
  transform: scale(.8);
}
.home-illu:hover img {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transform: scale(.9);
}
#features {
  background: #372d3b;//cool blue/violet
}

#features img {
  padding-top: 20px;
  width: 128px;
  height: 148px;
}
#features h3 {
    color: #d94362;//cool red
}
#features p {
  color: #ffffde; // cool white
}
.hero-link:hover {
  text-decoration: none;
  color: #222;
  transition: all .2s;
  border-radius: 6px;
  background: #CFD1D3;//gray
}
.hero-link {
  color: #253039;/*slack inspired*/
  letter-spacing: -1px;
  font-family: roboto;
  vertical-align: middle;
  font-size: 16px;
  padding: 6px;
  display: inline-block;
}
.skewed {
  transform: skewY(-5deg) translateZ(0);
  -webkit-font-smoothing:antialiased;
  /*tilted*/
}
.hr1{
  background: #000;
  height: 2px;
}
.modal-parent {
  position: absolute;
}
.parallax-text {
  font-family: playfair display;
  text-align: center;
  margin: 50px auto 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 56px;
  overflow: hidden;
}
.modal-content {
  background: url('images/bg l.jpg');
  padding: 5px;
}
.modal-title {
  color: #fc3;
  letter-spacing: 2px;
  text-align: left center;
  padding: 2px;
}
.modal-body {
  border: 2px dashed #222;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px;
}
.clientlist>div {
  z-index: 1;
  position: relative;
  overflow: hidden; !important
}
.clientlist div img {
  border-radius: 50%;
  max-width: 100%;!important
  transition: all 0.3s;
  position: relative;
  z-index: -1;//z-index requires a position
  opacity: .9;
}
.clientlist div:hover img{
  position: relative;
  cursor: pointer;
  transform: scale(1.1);//zooming effect
}
.clientlist div h4 {
  transition: all 0.2s;
}
.clientlist div:hover h4 {
  letter-spacing: 2px;
  color: #fff;
  margin-top: -16px;
  text-shadow: 0px 0px 10px #111;
}
.sortable li {
  border: solid 1px #ccc;
}
/*
 * Masthead for nav
 */
/* Nav links */

/* Active state gets a caret at the bottom */
/*
 * Blog name and description
 */
/*
 * Main column and sidebar layout
 */
/* Sidebar modules for boxing content */

/* Pagination */

/*
 * Blog posts
 */



/*
 * Footer
 */
 .pagination {
   float: right;
 }

.blog-footer {
  padding: 40px 0;
  color: #fff;
  text-align: center;
  background: #353535;
  border-top: 1px solid #e5e5e5;
  position: relative;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}
.text-left {
  margin: 0 auto;
  display: block;
  text-align: center;
}
.text-left a{
  text-transform: uppercase;
  transition: all .2s cubic-bezier(.26, .56, .54, .92);
  color:#ffffde;
  border-radius: 20px;
  background: #353535;
  width: 200px;
  height: 40px;
  font-size: 18px;
  display: inline-block;
  padding-top: 5px;
  margin: 5px;
  text-decoration: none;
}
.text-left a:hover {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  font-family: gagalin;
  letter-spacing: 2px;
  transform: scale(1.1);
}
